@model IEnumerable<AirplaneBooking.Models.PriyankaFlight>

@{
    ViewData["Title"] = "ShowFlights";
}

<h1>Booked Flights</h1>

<p>
    <a asp-action="BookFlight">Book Flight</a>
</p>
<table class="table">
    <thead>
        <tr>
            <!--<th>
                Html.DisplayNameFor(model => model.FlightId)
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.FlightName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <!--<th>
                Html.DisplayNameFor(model => model.Rating)
            </th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <!--<td>
                Html.DisplayFor(modelItem => item.FlightId)
            </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.FlightName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <!--<td>
                Html.DisplayFor(modelItem => item.Rating)
            </td>-->
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = @item.FlightId }) |
                @Html.ActionLink("Know more", "Details", new { id = @item.FlightId }) |
                @Html.ActionLink("Delete", "Delete", new { id = @item.FlightId })
            </td>
        </tr>
}
    </tbody>
</table>
