@model IEnumerable<AirplaneBooking.Models.PriyankaBooking>

@{
    ViewData["Title"] = "ShowBookings";
}

<h2>Hello @ViewBag.username</h2>
<h3>These are the bookings!!</h3>

<p>
    <br>
    <a asp-action="AddBooking">New Booking</a>
    <br>
</p>
<table class="table">
    <thead>
        <tr>
            <!--<th>
                Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                Html.DisplayNameFor(model => model.FlightId)
            </th>
            <th>
                Html.DisplayNameFor(model => model.CustomerId)
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfPassengers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <!--<td>
                Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.FlightId)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.CustomerId)
            </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfPassengers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = @item.BookingId }) |
                @Html.ActionLink("Details", "Details", new { id = @item.BookingId }) |
                @Html.ActionLink("Delete", "Delete", new { id = @item.BookingId })
            </td>
        </tr>
}
    </tbody>
</table>
